.field{
background: rgb(202, 202, 202);
width: 600px;
height: 600px;
border: 1px solid black;
position: relative;
}

.block{
    background: rgb(226, 19, 19);
    width: 70px;
    height: 70px;
    border: 1px solid black;
    position: absolute;  
    left: 0;
    top: 0;
}

button{
    width: 70px;
    height: 70px;
    background: rgb(229, 243, 150);
    border-radius: 2px;
}